<html>
  <head>
    <style>
    /* Add a bl  ack background color to the top navigation */
    .topnav {
      background-color: #8bb6dd;
      overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: "Helvetica", sans-serif;
      font-size: 17px;
    }

    #logo {
      float: left;
      font-family: "Georgia", serif;
      font-size: 25px;
      padding-top: 7px;
      padding-bottom: 5px;
    }
    #logo:hover{
      background-color: #8bb6dd;
      text-decoration: none;
    }
    /* Change the color of links on hover for navigation bar*/
    .topnav a:hover {
      background-color: #FFC857;
      color: white;
      text-decoration: none;
    }

    .filters {
      padding-top: 20px;
      padding-left: 50px;
    }



    /* Dropdown Button */
    .dropbtn {
      border-radius: 5px;
      background-color: #143642;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
      border: none;
    }


    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      font-family: "Helvetica", sans-serif;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #044389;}


    /* body of web */
    .split {
      padding-top: 20px;
    }


    /* left side */
    .left {
      float: left;
      margin-left: 20%;
      text-align: center;
      width: 35%
    }
    .left p {
      padding: 0px 35px;
      color: #444444;
      text-align: left;
      padding-top: 5px;
    }
    .left h2 {
      color: #282828;
    }

    .Roominfo p{
      display: inline;
      border-radius: 100px;
      background: #b8cbdb;
      color: #3a3a3a;
      padding: 0px 5px;
      font-size: 17px;
      white-space: nowrap;
    }

    /* right side */
    .right {
      float: right;
      padding-right: 23%;
      text-align: center;
    }

    .right p {
      padding-top: 20px;
      width: 220px;
      font-size: 12px;
    }

    /* buttons */
    .happysad {
      bottom: 40px;
      position: fixed;
      right: 23%;
    }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script>
    function param(name, value, option) {
        var l = window.location;
        console.log(l);

        /* build params */
        var params = {};
        var x = /(?:\??)([^=&?]+)=?([^&?]*)/g;
        var s = l.search;
        for(var r = x.exec(s); r; r = x.exec(s))
        {
            r[1] = decodeURIComponent(r[1]);
            if (!r[2]) {
              r[2] = '%%';
            }
            params[r[1]] = r[2];
        }

        /* set param to only this one*/
        if (option == 1) {
          params[name] = encodeURIComponent(value);
        }
        /* adding param */
        if (option == 2) {
          if (!params[name]) {
            params[name] = encodeURIComponent(value)
          } else {
          params[name] += encodeURIComponent(value);
        }
        }
        /* removing param */
        if (option == 3) {
          params[name].replace(encodeURIComponent(value),"");
        }
        if (option == 4) {
          delete params[name];
        }
        /* build search */
        var search = [];
        for(var i in params)
        {
            var p = encodeURIComponent(i);
            var v = params[i];
            if (v != '%%') {
              p += '=' + v;
            }
            search.push(p);
        }
        search = search.join('&');

        /* execute search */
        l.search = search;
    }
    </script>
  </head>

  <div class="topnav">
  <a href="#home">Profile</a>
  <a href="#news">Messages</a>
  <a href="#contact">Roommate Match</a>
  <a href="/sublease">Sublease Match</a>
  <a href="/sublease" id="logo"><img src="https://cdn2.iconfinder.com/data/icons/files-and-folders-vol-4/64/mario-turtle-512.png" width=40px> Turtleshell</a>
</div>
  {{{body}}}
</html>
